<template>
  <div
    ref="windowEl"
    class="base-window rounded-2xl"
    :class="windowClass"
    :style="windowStyle"
    @touchstart.stop
    @contextmenu.stop
    @click="handleClick"
  >
    <q-bar
      v-touch-pan.prevent.mouse="handleMove"
      class="header-bar"
    >
      <q-icon
        :name="props.headerIcon"
        :color="props.headerIconColor"
      />
      <q-space />
      <div class="title text-shadow">
        {{ title }}
      </div>
      <q-space />
      <q-btn
        icon="close"
        dense
        flat
        rounded
        color="grey-5"
        @click="handleClose"
      />
    </q-bar>
    <div
      class="body"
      :class="props.bodyClass"
    >
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, reactive, ref } from 'vue';
import { useWindowSize, useElementSize } from '@vueuse/core';
import { useWindowStore } from '../stores/window.store';

interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };

  /** slot 容器 class */
  bodyClass?: string;
  /** title bar 文字內容 */
  title?: string;
  /** title bar icon 名稱 */
  headerIcon?: string;
  /** title bar icon 顏色 */
  headerIconColor?: string;
  /** 視窗唯一 ID */
  id: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  bodyClass: '',
  title: '',
  headerIcon: 'dashboard',
  headerIconColor: 'blue-grey-4',
});

const { width: windowW, height: windowH } = useWindowSize();

const windowEl = ref();
const { width: elW, height: elH } = useElementSize(windowEl);

/** Directive 的 callback function 沒有型別提示，所以自行建立 */
interface TouchPanData {
  touch: boolean;
  mouse: boolean;
  position: {
    top: number;
    left: number;
  };
  direction: 'up' | 'right' | 'down' | 'left';
  isFirst: boolean;
  isFinal: boolean;
  duration: number;
  distance: {
    x: number;
    y: number;
  };
  offset: {
    x: number;
    y: number;
  };
  delta: {
    x: number;
    y: number;
  };
}

// 偏移量初始值設為參數初始位置。
const offset = reactive({
  x: props.initPosition.x,
  y: props.initPosition.y,
});

const windowStore = useWindowStore();

const isFocus = computed(() => windowStore.focusedId === props.id);
const isMoving = ref(false);

const windowStyle = computed(() => {
  const zIndex = windowStore.zIndexMap.get(props.id);

  return {
    zIndex,
    top: `${offset.y}px`,
    left: `${offset.x}px`,
  }
});
const windowClass = computed(() => {
  return {
    focused: isFocus.value,
    moving: isMoving.value,
  }
});

function focus() {
  windowStore.setFocus(props.id);
}

function handleClick() {
  focus();
}

function handleMove({ isFirst, isFinal, delta }: TouchPanData) {
  // 直接拖動視窗也要 focus
  if (isFirst) focus();

  isMoving.value = !isFinal;

  offset.x += delta.x;
  offset.y += delta.y;

  offset.x = Math.max(offset.x, 0);
  offset.y = Math.max(offset.y, 0);

  offset.x = Math.min(offset.x, windowW.value - elW.value);
  offset.y = Math.min(offset.y, windowH.value - elH.value);
}

function handleClose() {
  windowStore.remove(props.id);
}

</script>

<style scoped lang="sass">
.base-window
  position: fixed
  min-width: 200px
  min-height: 100px
  overflow: hidden
  box-shadow: 0px 0px 10px rgba(#000, 0.1)
  background: rgba(white, 0.8)
  backdrop-filter: blur(4px)
  transition-duration: 0.4s
  &.focused
    background: rgba(white, 0.98)
    transform: translateY(-2px)
    box-shadow: 0px 10px 14px rgba(#000, 0.2)
  &.moving
    transition: top 0s, left 0s, transform 0.5s, box-shadow 0.5s

  .header-bar
    height: auto
    padding: 20px
    padding-bottom: 14px
    cursor: move
    background: none
    color: $grey-8
    .title
      font-size: 14px
      user-select: none
      margin: 0px
      position: relative
      font-weight: 900
      transition-duration: 0.4s
      letter-spacing: 1px

  .body
    position: relative
</style>
