<template>
  <q-select
    v-model="selectedValue"
    class="base-select-pin text-shadow"
    use-input
    :bg-color="props.color"
    :color="props.color"
    :clearable="clearable"
    :options="filteredOptions"
    :placeholder="placeholderText"
    :input-debounce="0"
    :option-label="(pin)=>`Pin ${pin.number}`"
    rounded
    outlined
    hide-dropdown-icon
    dense
    input-class="text-center font-black placeholder-black"
    popup-content-class="rounded-3xl"
    @filter="handleFilter"
  >
    <template #no-option>
      <!-- 替換 option 為空時，顯示的內容-->
      <q-item class="py-2 border-b-1 text-red text-center">
        <q-item-section v-if="props.pins.length === 0">
          <q-item-label>無腳位資料</q-item-label>
        </q-item-section>
        <q-item-section v-else>
          <q-item-label>無符合關鍵字的腳位</q-item-label>
        </q-item-section>
      </q-item>
    </template>
    <template #option="{ opt }:{opt: typeof options.value[0]}">
      <!-- 自定 option 內容-->
      <q-item
        :key="opt.number"
        v-close-popup
        class="py-2 border-b-1"
        dense
        clickable
        :class="{ 'cursor-not-allowed opacity-40': opt.disable }"
        @click="handleOptionClick(opt)"
      >
        <!-- 顯示腳位編號-->
        <q-item-section avatar>
          <q-item-label class="flex items-end font-orbitron w-12 text-grey-8">
            <div class="mr-1 text-grey">
              Pin
            </div>
            <div class="font-100">
              {{ opt.number }}
            </div>
          </q-item-label>
        </q-item-section><!-- 顯示腳位模式-->
        <q-item-section>
          <q-item-label>
            <q-chip
              v-for="chip in opt.chips"
              :key="chip.name"
              class="text-shadow-md font-700"
              rounded="rounded"
              size="md"
              :color="chip.color"
              text-color="white"
            >
              {{ chip.name }}
            </q-chip>
          </q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { getPinModeInfo, PinModeDefinition } from '../common/firmata/firmata-utils';
import { Pin } from '../common/firmata/response-define';
import { useWindowStore } from '../stores/window.store';

interface Props {
  modelValue?: Pin;
  /** 可用腳位 */
  pins?: Pin[];
  /** select 的 placeholder */
  placeholder?: string;
  /** 主色 */
  color?: string;
  /** 是否可以清空 */
  clearable?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  modelValue: undefined,
  pins: (): Pin[] => [],
  placeholder: '選擇腳位',
  color: 'blue-grey-4',
  clearable: false,
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: Pin): void;
  (e: 'error', value: string): void;
  (e: 'selected', value: Pin): void;
}>();

const windowStore = useWindowStore();

const selectedValue = ref(props.modelValue);
watch(() => props.modelValue, (value) => {
  selectedValue.value = value;
});

const placeholderText = computed(() => {
  if (selectedValue.value) {
    return '';
  }
  return props.placeholder;
});

const options = computed(() => {
  return props.pins.map((pin) => {
    const chips = pin.capabilities.map((capability) =>
      getPinModeInfo(capability.mode)
    ).filter((item): item is PinModeDefinition => !!item);

    const isOccupied = windowStore.occupiedPins.some((occupiedPin) =>
      occupiedPin.pin.number === pin.number
    );

    return {
      number: pin.number,
      /** 用 chip 的形式，讓使用者查看此腳位支援的功能 */
      chips,
      value: pin,
      disable: isOccupied,
    };
  });
});

/** 過濾後的 options */
const filteredOptions = ref<(typeof options.value)>([]);

/** 給 q-select 觸發 @filter 時，呼叫的 function */
function handleFilter(keyWord: string, update: (callback: () => void) => void) {
  if (!keyWord) {
    update(() => {
      filteredOptions.value = options.value;
    });
    return;
  }

  update(() => {
    // 根據關鍵字過濾
    const regex = new RegExp(keyWord, 'i');

    filteredOptions.value = options.value.filter((option) => {
      const pinNumber = option.number;
      const chips = option.chips;

      // 搜尋腳位模式名稱
      const matchChip = chips.some((chip) => {
        return regex.test(chip.name);
      });

      return regex.test(`${pinNumber}`) || matchChip;
    });
  });
}

function handleOptionClick(option: typeof options.value[0]) {
  const { value: pin, disable } = option;

  if (disable) {
    emit('error', `${pin.number} 號腳位已被占用`);
    return;
  }

  emit('selected', pin);
  emit('update:modelValue', pin);
}
</script>

<style scoped lang="sass">
.base-select-pin
  position: relative
  :deep(.q-field__control)
    &::before
      border: none !important
</style>
