<template>
  <base-window
    :init-position='props.initPosition'
    :id="id"
    title='範例視窗'
  >
  </base-window>
</template>

<script setup lang="ts">
import { getCurrentInstance } from 'vue';

import BaseWindow from './base-window.vue';


interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const id = props.id ?? getCurrentInstance()?.vnode.key;
</script>

<style scoped lang="sass">
</style>
