<template>
  <base-window
    :id="id"
    class="window-analog-input"
    header-icon-color="red-3"
    body-class="flex flex-col p-5"
    :init-position="props.initPosition"
    title="類比輸入功能"
  >
    <pin-select
      class="mb-2"
      color="red-3"
      :pins="supportPins"
      @selected="handelPinSelected"
      @error="handleError"
    />

    <transition-group
      name="list"
      tag="div"
      class="relative"
    >
      <window-analog-input-item
        v-for="pin in existPins"
        :key="pin.number"
        :pin="pin"
        @delete="handlePinDelete"
      />
    </transition-group>
  </base-window>
</template>

<script setup lang="ts">
import { computed, getCurrentInstance, ref } from 'vue';
import { PinMode } from '../common/firmata/firmata-utils';
import { Pin } from '../common/firmata/response-define';

import BaseWindow from './base-window.vue';
import PinSelect from './pin-select.vue';
import WindowAnalogInputItem from './window-analog-input-item.vue';

import { useQuasar } from 'quasar';
import { useBoardStore } from '../stores/board.store';
import { useWindowStore } from '../stores/window.store';

const { ANALOG_INPUT } = PinMode;

interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const boardStore = useBoardStore();
const windowStore = useWindowStore();
const $q = useQuasar();

const id = props.id ?? getCurrentInstance()?.vnode.key;

/** 支援腳位 */
const supportPins = computed(() => {
  return boardStore.pins.filter((pin) => {
    return pin.capabilities.some((capability) =>
      ANALOG_INPUT === capability.mode

    );
  });
});

const existPins = ref<Pin[]>([]);

function handelPinSelected(pin: Pin) {
  existPins.value.push(pin);
  windowStore.addOccupiedPin(id, pin);
}

function handleError(message: string) {
  $q.notify({
    type: 'negative',
    message,
  });
}

function handlePinDelete(pin: Pin) {
  windowStore.deleteOccupiedPin(id, pin);

  const index = existPins.value.findIndex((existPin) =>
    existPin.number === pin.number
  );
  existPins.value.splice(index, 1);
}
</script>

<style scoped lang="sass">
.window-analog-input
  width: 330px
  height: 440px
</style>
