<template>
  <div class="flex flex-nowrap items-center w-full">
    <div class="pin-number">
      <div class="text-xl">
        {{ pin.number }}
      </div>
      <q-btn
        class="bg-white"
        icon="delete"
        dense
        flat
        rounded
        color="grey-5"
        @click="handleDelete"
      />
    </div>
    <q-slider
      v-model="pinValue"
      class="mx-5"
      readonly
      color="red-3"
      :min="0"
      :max="maxValue"
    />
    <q-knob
      v-model="pinValue"
      size="60px"
      show-value
      readonly
      color="red-3"
      track-color="grey-3"
      font-size="12px"
      :min="0"
      :max="maxValue"
    />
  </div>
</template>

<script setup lang="ts">
import { Listener } from 'eventemitter2';
import { findLast, throttle } from 'lodash';
import { computed, onBeforeUnmount, ref } from 'vue';
import { PinMode } from '../common/firmata/firmata-utils';
import { AnalogData, Pin } from '../common/firmata/response-define';

import { useBoardStore } from '../stores/board.store';
import { usePortStore } from '../stores/port.store';

interface Props {
  pin: Pin;
}
const props = withDefaults(defineProps<Props>(), {});

const emit = defineEmits<{
  (e: 'delete', pin: Pin): void;
}>();

const portStore = usePortStore();
const boardStore = useBoardStore();

const pinValue = ref(0);

/** 從解析度計算得最大數值 */
const maxValue = computed(() => {
  const target = props.pin.capabilities.find(
    (capability) => capability.mode === PinMode.ANALOG_INPUT
  );
  if (!target) return 0;

  return 2 ** target.resolution - 1;
});

function handleDelete() {
  emit('delete', props.pin);
}

const currentAnalogNumber = computed(() =>
  boardStore.analogPinMap?.[props.pin.number]
);

const setPinValue = throttle((value) => {
  pinValue.value = value;
}, 200);

function handleData(data: AnalogData[]) {
  if (currentAnalogNumber.value === undefined) return;

  // 取得最後一個狀態即可
  const target = findLast(data,
    ({ analogNumber }) => analogNumber === currentAnalogNumber.value
  );
  if (!target) return;

  setPinValue(target.value);
}

const listener = ref<Listener>();
function init() {
  if (!portStore.transceiver) return;

  portStore.transceiver.addCmd('set-mode', {
    pin: props.pin.number,
    mode: PinMode.ANALOG_INPUT,
  });

  listener.value = portStore.transceiver.on('analog-data', handleData, {
    objectify: true,
  }) as Listener;
}
init();
</script>

<style scoped lang="sass">
.pin-number
  width: 36px
  padding: 10px 0px
  margin-right: 10px
  font-family: 'Orbitron'
  color: $grey
  text-align: center
  position: relative
  &:hover
    .q-btn
      pointer-events: auto
      opacity: 1
  .q-btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none
    transition-duration: 0.4s
    opacity: 0
</style>
