<template>
  <base-window
    :id="id"
    :init-position="props.initPosition"
    class="flex flex-col flex-nowrap"
    body-class="w-[600px] h-[800px] flex flex-col items-center"
    header-icon="videogame_asset"
    title="貓狗大戰"
  >
    <div class="h-full">
      <div class="w-full h-full">
        <game-scene
          :x-pin="xPin"
          :y-pin="yPin"
          :btn-pin="btnPin"
        />
      </div>

      <transition name="fade-up">
        <div
          v-if="!isSettingOk"
          class="setting-form"
        >
          <div class="form-section rounded-3xl">
            <div class="form-item mb-5 text-gray-400">
              <q-icon
                class="mr-3"
                name="gamepad"
                size="20px"
              />
              <div class="text-lg font-bold">
                設定控制器
              </div>
            </div>

            <div class="form-item">
              <div class="text-lg w-52">
                X 軸訊號
              </div>
              <pin-select
                v-model="xPin"
                :pins="supportAnalogInputPins"
                class="w-full"
                color="light-green-4"
                placeholder="點擊選擇"
                @error="handleError"
              />
            </div>
            <div class="form-item">
              <div class="text-lg w-52">
                Y 軸訊號
              </div>
              <pin-select
                v-model="yPin"
                :pins="supportAnalogInputPins"
                class="w-full"
                color="light-green-4"
                placeholder="點擊選擇"
                @error="handleError"
              />
            </div>
            <div class="form-item">
              <div class="text-lg w-52">
                按鈕訊號
              </div>
              <pin-select
                v-model="btnPin"
                :pins="supportPullupPins"
                class="w-full"
                color="light-green-4"
                placeholder="點擊選擇"
                @error="handleError"
              />
            </div>
          </div>
        </div>
      </transition>
    </div>
  </base-window>
</template>

<script setup lang="ts">
import { computed, getCurrentInstance, ref, watch } from 'vue';
import { Pin } from '../../common/firmata/response-define';
import { PinMode } from '../../common/firmata/firmata-utils';

import BaseWindow from '../base-window.vue';
import PinSelect from '../pin-select.vue';
import GameScene from './game-scene.vue';

import { useBoardStore } from '../../stores/board.store';
import { useQuasar } from 'quasar';
import { usePortStore } from '../../stores/port.store';
import { useWindowStore } from '../../stores/window.store';

interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const boardStore = useBoardStore();
const windowStore = useWindowStore();
const portStore = usePortStore();
const $q = useQuasar();

const id = props.id ?? getCurrentInstance()?.vnode.key;

const xPin = ref<Pin>();
watch(xPin, (pin, oldPin) => handelPinSelected(pin, oldPin))

const yPin = ref<Pin>();
watch(yPin, (pin, oldPin) => handelPinSelected(pin, oldPin))

const btnPin = ref<Pin>();
watch(btnPin, (pin, oldPin) => handelPinSelected(pin, oldPin))

function handelPinSelected(newPin?: Pin, oldPin?: Pin) {
  if (oldPin) windowStore.deleteOccupiedPin(id, oldPin);
  if (newPin) windowStore.addOccupiedPin(id, newPin);
}

const isSettingOk = computed(() =>
  xPin.value && yPin.value && btnPin.value
);

/** 所有支援類比輸入的腳位 */
const supportAnalogInputPins = computed(() => {
  return boardStore.pins.filter((pin) => {
    return pin.capabilities.some((capability) =>
      capability.mode === PinMode.ANALOG_INPUT
    );
  });
});

/** 所有支援數位上拉輸入的腳位 */
const supportPullupPins = computed(() => {
  return boardStore.pins.filter((pin) => {
    return pin.capabilities.some((capability) =>
      capability.mode === PinMode.INPUT_PULLUP
    );
  });
});

function handleError(message: string) {
  $q.notify({
    type: 'negative',
    message,
  });
}
</script>

<style scoped lang="sass">

.setting-form
  position: absolute
  top: 0%
  left: 0px
  width: 100%
  height: 100%
  padding: 20px
  background: rgba(white, 0.9)
  backdrop-filter: blur(4px)
  display: flex
  justify-content: center
  align-items: center

.form-section
  padding: 20px
  width: 80%
  box-shadow: 0px 0px 10px rgba(#000, 0.2)

.form-item
  display: flex
  align-items: center
  margin-bottom: 20px
</style>
