<template>
  <div class="absolute bottom-2 right-3 text-right text-gray-400 tracking-widest font-orbitron">
    {{ boardInfo }}
  </div>

  <!-- 所有視窗 -->
  <transition-group
    name="fade-up"
    tag="div"
    class="absolute inset-0"
  >
    <component
      :is="window.component"
      v-for="[key, window], i in windowStore.map"
      :key="key"
      :init-position="{ x: (i + 1) * 30, y: (i + 1) * 30 }"
    />
  </transition-group>

  <!-- 右鍵選單-->
  <q-menu
    context-menu
    class="rounded-2xl"
  >
    <q-list class="w-64">
      <q-item
        v-close-popup
        clickable
        @click="windowStore.add('window-digital-io')"
      >
        <q-item-section>新增「數位 I/O 視窗」</q-item-section>
      </q-item>

      <q-item
        v-close-popup
        clickable
        @click="windowStore.add('window-analog-input')"
      >
        <q-item-section>新增「類比輸入視窗」</q-item-section>
      </q-item>

      <q-separator />

      <q-item
        v-close-popup
        clickable
        @click="windowStore.add('window-app-cat-vs-dog')"
      >
        <q-item-section>新增「貓狗大戰」</q-item-section>
      </q-item>
    </q-list>
  </q-menu>
</template>

<script setup lang="ts">
import { computed, watch } from 'vue';
import { FirmataInfo } from './common/firmata/response-define';
import { delay } from './common/utils';

import SystemSettingDialog from './components/system-setting-dialog.vue';


import { useQuasar } from 'quasar';
import { usePortStore } from './stores/port.store';
import { useBoardStore } from './stores/board.store';
import { useWindowStore } from './stores/window.store';

const $q = useQuasar();
const portStore = usePortStore();
const boardStore = useBoardStore();
const windowStore = useWindowStore();

const boardInfo = computed(() => {
  if (!boardStore.version) {
    return 'unknown';
  }

  return `${boardStore.firmwareName} - v${boardStore.version}`;
});

// 偵測 transceiver 變化
watch(() => portStore.transceiver, (transceiver) => {
  // transceiver 不存在，結束
  if (!transceiver) return;

  const dismiss = $q.notify({
    type: 'ongoing',
    message: '等待 Board 啟動...',
  });

  // 建立監聽事件
  transceiver.once('ready', async ({ version, firmwareName }) => {
    dismiss();

    $q.notify({
      type: 'positive',
      message: `初始化成功，韌體名稱「${firmwareName}」，版本：「${version}」`,
    });

    transceiver.addCmd('query-capability');
    await delay(100);
    transceiver.addCmd('query-analog-mapping');
  });

  transceiver.on('info', (data) => {
    console.log(`[ transceiver ] info : `, data);

    if ('version' in data) {
      boardStore.setInfo(data);
      return;
    }

    if ('pins' in data) {
      boardStore.setPins(data.pins);
      return;
    }

    if ('analogPinMap' in data) {
      boardStore.setAnalogPinMap(data.analogPinMap);
      return;
    }
  });

  transceiver.on('undefined-response', (data) => {
    console.warn(`[ transceiver ] undefined-response : `, data);
  });

  transceiver.on('error', (error) => {
    console.error(`[ transceiver ] error : `, error);

    $q.notify({
      type: 'negative',
      message: `transceiver 發生錯誤 : ${error}`,
    });
  });
});

function init() {
  $q.dialog({
    component: SystemSettingDialog,
  })
}
init();
</script>

<style lang="sass">
html, body, #app
  width: 100%
  height: 100%
  padding: 0
  margin: 0

#app
  display: flex
  flex-direction: column
</style>
